@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
